{
    "parser": "babel-eslint",
    "parserOptions": {
      "allowImportExportEverywhere": true
    },
    "extends": [
      "airbnb"
    ],
    "settings": {
      "import/core-modules": ["react-native"]
    },
    "rules": {
      "import/extensions": ["off", "never"],
      "no-underscore-dangle": 0
    }
}